body{
    margin: 0;
    background-image: url(background.jpg);
    background-size: contain;
    font-family: sans-serif;
    
}


.wrapper{
    
    /* background-color: #9999; */
    align-items: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
    
}
.search-bar{

        text-align: center;
        position: relative; 
    
}
form{
    margin: 1%;
    margin-top: 1%;
   
    
}
input{
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;;
    outline: none; 
    background: url(loupe.png) no-repeat scroll;
    background-position: 98%;
    background-size: 20px;
    border-radius: 15px;

    
}




.user-results{
    background-color: rgba(255, 255, 255, 0.644);
    margin: 0px auto;
    /* border: 1px solid black;  */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 900px; 
    justify-content: center;
    padding: 2%;
    
    
    

}
.user-card{
    width:165px;
    height: 225px;
    /* border: 1px solid black; */
    margin: 10px;
    border-radius: 5px;
    transition: all .4s ease;
    background-color: rgb(228, 228, 228);
    position: relative;
    
}
.user-card:hover {
 /*    width: 160px;
    height: 160px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
   margin-bottom: -5px; */
   transform: scale(1.14);
   transition: all .4s ease;
   background-color: rgb(240, 240, 239);
   z-index: 5;
   
   
}
.user-card:hover button{
    background-color: rgb(240, 240, 239);
    color: black;
    transition: all .4s ease;
}
.close{
    position: absolute;
   right: 15px;
   top: 10px;
}
.close button{
    border: none;
    color: rgb(228, 228, 228);
    background-color:rgb(228, 228, 228);
    transition: all .4s ease;
}
.close button:hover{
    cursor:pointer;
    background-color:rgb(228, 228, 228)
    
   
}
.avatar{
    border-radius: 50%;
    width: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
   
}
.info{
    margin: 5px;
}


@media only screen and (max-width: 600px) {
    .user-card{
        width:124px;
        height: 169px ;
        font-size: 12px;
        /* border: 1px solid black; */
        margin: 10px;
        border-radius: 5px;
        transition: all .4s ease;
        background-color: rgb(228, 228, 228);
        position: relative;
    }
    .avatar{
        width: 50px;
    }
    input{
        font-size: 18px;
        width: 55%;
        background-size: 14px;
    }

}

@media only screen and (max-width: 459px) {
    .user-card{
        width:93px;
        height: 127px ;
        font-size: 12px;
        /* border: 1px solid black; */
        margin: 10px;
        border-radius: 5px;
        transition: all .4s ease;
        background-color: rgb(228, 228, 228);
        position: relative;
    }
    .avatar{
        width: 50px;
    }
    input{
        font-size: 18px;
        width: 55%;
        background-size: 14px;
    }

}
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(161, 161, 161);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131); 
  }