

body{
    margin: 0;
    font-family: sans-serif;
    background-color:rgb(37, 37, 37);
    color: white;
}



.wrapper{
    
    /* background-color: #9999; */
    align-items: center;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 5%;
    
}
.search-bar{

        text-align: center;
        position: relative; 
    
}
.search-bar form{
    margin: 1%;
    margin-top: 1%;
   
    
}
.search-bar input{
    width: 40%;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;;
    outline: none; 
    background: url(loupe.png) no-repeat scroll;
    background-position: 98%;
    background-size: 20px;
    border-radius: 5px;

    
}




.user-results{
    background-color:rgb(37, 37, 37);
    margin: 0px auto;
    /* border: 1px solid black;  */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 900px; 
    justify-content: center;
    padding: 2%;
    
    
    

}
.user-card{
    width:165px;
    height: 225px;
    font-size: 100%;
    /* border: 1px solid black; */
    margin: 10px;
    border-radius: 5px;
    transition: all .4s ease;
    background-color: rgb(78, 78, 78);
    position: relative;
    
}
.user-card:hover {
 /*    width: 160px;
    height: 160px;
    margin: 0px;
    margin-left: 5px;
    margin-right: 5px;
   margin-bottom: -5px; */
   transform: scale(1.14);
   transition: all .4s ease;
   background-color: rgb(78, 78, 78);
   z-index: 5;
   
   
}
.user-card:hover button{
    background-color: transparent;
    color: white;
    font-size: 18px;
    transition: all .4s ease;
}
.close{
    position: absolute;
   right: 7px;
   top: 10px;
}
.close button{
    border: none;
    color: rgb(78, 78, 78);
    background-color: transparent;
    transition: all .4s ease;
}
.close button:hover{
    cursor:pointer;
    background-color:transparent;
    
   
}

.add-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}
.plus{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
      transition: all 0.3s;
    transition-timing-function: ease-in-out;
}
.add-card:hover{
    cursor: pointer;
}
.add-card:hover .plus{
-webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  
}
.avatar{
    
    width: 60%;
    margin-top: 10%;
    
   
}
.info{
    margin: 5px;
}


@media only screen and (max-width: 600px) {
    .user-card{
        width:124px;
        height: 169px ;
        font-size: 12px;
        /* border: 1px solid black; */
        margin: 10px;
        border-radius: 5px;
        transition: all .4s ease;
        background-color: rgb(78, 78, 78);
        position: relative;
    }
    .avatar{
        width: 60%;
    }
    .search-bar input{
        font-size: 18px;
        width: 55%;
        background-size: 14px;
    }
    .close{
       right: 3px;
       top: 10px;
    }
    .plus{
        font-size: 50px;
     }

}

@media only screen and (max-width: 459px) {
    .user-card{
        width:93px;
        height: 127px ;
        font-size: 12px;
        /* border: 1px solid black; */
        margin: 10px;
        border-radius: 5px;
        transition: all .4s ease;
        background-color: rgb(78, 78, 78);
        position: relative;
    }
    .avatar{
        width: 50px;
    }
    .search-bar input{
        font-size: 18px;
        width: 55%;
        background-size: 14px;
    }
    .close{
        right: 1px;
        top: 10px;
     }
     .plus{
        font-size: 40px;
     }

}
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(161, 161, 161);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131); 
  }