.modal{
    position: fixed; 
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease-in-out; 
    
    border-radius: 10px;
    z-index: 20;
    background-color: rgba(126, 146, 182, 0.959);
    background-image: linear-gradient(to bottom right, rgba(175, 174, 174, 0.842),rgb(92, 153, 194));
    opacity: .98;
    
    width: 500px; 
    max-width: 80%;
    padding: 40px;

    color:rgb(0, 0, 0)
}
.modal.active{
    transform: translate(-50%, -50%)
}
.modal h1{
    font-size:x-large;

}
button{
     cursor: pointer;
}
.modal-header{
    display: flex;
    padding: 10px 15px; 
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black; 
    
}
.modal-header button{
   
    border: none; 
    background: transparent;
    font-size: 20px;
}

.modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.modal-content button{
    margin:5px;
    width: 120px;
    height: 30px;
}
#add-book-modal{
    width: 450px;
}
#add-book-modal input{
    width: 300px;
    height: 25px;
    font-size: 18px;
}
#cbox1{
    
    width:20px !important;
    
}
#form-checkbox{
    display: flex;
    align-items: center;
}
#book-search-modal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    
}
#booksearch-img img{
    width: 150px;

}
#book-list-modal{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-height: 500px;
    
}
#book-list-modal form{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
#book-results-container{
    overflow-y: scroll;
}
.list-item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}
.list-item-container img{
    width: 50px;
    margin-top: 10px;
}
.list-item-container:hover{
    cursor: pointer;
    background-color: rgb(209, 209, 209)
    

}
.list-item-container .list-item-author{
    width: 75px;
    flex-wrap: wrap;
    overflow-wrap: break-word;
}
.list-item-title{
    width: 140px; 
    flex-wrap: wrap;
}
.list-item-thumb{
    width: 50px;
    overflow: hidden;
}
#overlay{
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    right: 0; 
    bottom: 0; 
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
}
#overlay.active{
    opacity: 1; 
    pointer-events: all;
    z-index: 19;
}

@media only screen and (max-width: 759px) {
    .modal{
        max-width: 350px;
    }
    h1{
        font-size:20px !important;
    }
    h2{
        font-size: 15px !important;
    }
}

@media only screen and (max-width: 559px) {

    #book-list-modal{
        max-height: 475px;
        max-width: 300px ;
        padding: 10px;
    }
    #add-book-modal{
        max-width: 200px;
    }
    #book-search-modal{
        max-width: 200px;
        max-height: 425px;
    }
    .modal input{
        width: 90% !important;
    }
    h1{
        font-size: 19px;
    }
    .list-item-title{
        width: 100px;   
    }
    .list-item-container{
        margin-top: 20px;
    }
}