

body{
    margin: 0;
    font-family: sans-serif;
    background-color:rgb(37, 37, 37);
    color: white;
}


.wrapper{
  flex-direction: column;
  display:flex;
  align-items: center;
  justify-content: center;
  padding-top: 1%;
  padding-bottom: 5%;
    
    
}
.search-bar{

        text-align: center;
        position: relative; 
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      
    
}
.search-bar form{
    margin: 5px;
    margin-top: 1%;
   
    
}
.search-bar label{
  margin: 5px;
}
#search-bar{
  width: 100%;
  height: 20px;
}



.user-results{
    background-color:rgb(37, 37, 37);
    margin: 0px auto;
    /* border: 1px solid black;  */
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    max-width: 900px; 
    padding: 2%;
    justify-content:center;
    
    
    

}
.user-card{
    width:145px;
    height: 225px;
    font-size: 80%;
    /* border: 1px solid black; */
    margin: 10px;
    border-radius: 5px;
    transition: all .4s ease;
    background-color: rgb(78, 78, 78);
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    
    overflow:hidden;
    
    
}
.user-card:hover {
   transform: scale(1.14);
   transition: all .4s ease;
   background-color: rgb(78, 78, 78);
   z-index: 5;  
   
}
.user-card:hover button{
    background-color: transparent;
    color: white;
    font-size: 18px;
    transition: all .4s ease;
}

.card-content{
   
    width: 101%;
    height: 101%; 
    opacity: 0;
    position: absolute;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .5s ease; 
    padding: 10px;
}
.card-content:hover{
    opacity: .9;
    background-color: black;
    /* transition: all .3s ease; */
}
.top-info{
  text-align: center;
  margin: 5px;
}
.bottom-info{
  text-align: center;
  margin: 5px;
}
.isbn{
  text-align: center;
  margin: 5px;
}
.close{
    position: absolute;
   right: 15px;
   top: 15px;
}
.close button{
    border: none;
    color: rgb(78, 78, 78);
    background-color: transparent;
    transition: all .4s ease;
}
.close button:hover{
    cursor:pointer;
    background-color:transparent;
    
   
}

.add-card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;

}
.plus{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
      transition: all 0.3s;
    transition-timing-function: ease-in-out;
}
.add-card:hover{
    cursor: pointer;
}
.add-card:hover .plus{
-webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: all 0.3s;
  transition-timing-function: ease-in-out;
  
}
.avatar{
    
    width: 100%;
    height: 100%
    
   
}
.info{
  margin: 5px;
}
#sort-form{
  display: flex;
 
}


@media only screen and (max-width: 600px) {

    .user-card{
        width:124px;
        height: 180px ;
        font-size: 12px;
        
        margin: 10px;
        border-radius: 5px;
        transition: all .4s ease;
        background-color: rgb(78, 78, 78);
        position: relative;
    }
   /*  .user-card:hover{
      height: 190px;
    } */
    .avatar{
        width: 100%;
    }
    .search-bar{
      max-width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    .search-bar input{
        font-size: 18px;
        width: 55%;
        background-size: 14px;
    }
    .close{
       right: 10px;
       top: 10px;
    }
    .plus{
        font-size: 50px;
     }

}

@media only screen and (max-width: 459px) {

    .user-card{
        width:93px;
        height: 140px ;
        font-size: 10px;
        
        margin: 10px;
        border-radius: 5px;
        transition: all .4s ease;
        background-color: rgb(78, 78, 78);
        position: relative;
    }
    .user-card:hover {
        
          
          transform:scale(1.44);
          height: 160px;
          transition: all .4s ease;
          background-color: rgb(78, 78, 78);
          justify-content: center;
          align-items: center;
          z-index: 5;
          
          
       }
    
    .avatar{
        width: 100%;
    }
    .search-bar input{
        font-size: 18px;
        width: 55%;
        background-size: 14px;
    }
    .close{
        right: 10px;
        top: 10px;
     }
     .plus{
        font-size: 40px;
     }

}

 /* The switch - the box around the slider */
 .switch {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 11.33px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 9px;
    width: 9px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(9px);
    -ms-transform: translateX(9px);
    transform: translateX(9px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  } 
/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(161, 161, 161);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(131, 131, 131); 
  }